# AI4PH Tools for Data Science: Notebooks and Versioning
## Assignment Description
To demonstrate mastery of the course material, learners will create a Jupyter Notebook that walks through a sample dataset, from data ingestion, basic cleaning, visualization, and calculation of summary statistics. 

The notebook should include the following elements:

1. Data Loading: Import a public health dataset of your choice
2. Exploratory Data Analysis: Perform exploratory data analysis on the cleaned dataset using pandas and matplotlib and create at least one informative visualizations and the calculation of at least two summary statistics. 
3. Version Control: Use Git to create a repository for your notebook, and commit your changes regularly. Ensure that your notebook is properly versioned and documented.
4. Reproducibility: Use virtual environments and include a requirements.txt file that lists all the dependencies and versions of the libraries used.
5. Documentation: Document your notebook using Markdown cells, and provide clear and concise explanations of your code and analysis.
The repository should demonstrate the learnerâ€™s ability to use Virtual Environments, Jupyter Notebooks, Pandas, Matplotlib, Git and Github. The notebook will be assessed based on the quality of your analysis, the clarity of your documentation, and the reproducibility and maintainability of your code.

Please upload a link to your Github Public Repository where the assignment can be found.

In [10]:
# import required packages
import requests
import pandas as pd

## Data Loading
Download and load the data from the source.
<br>
Source: https://data.ontario.ca/dataset/covid-19-vaccine-data-in-ontario/resource/274b819c-5d69-4539-a4db-f2950794138c

In [7]:
# download the data
url = 'https://data.ontario.ca/dataset/752ce2b7-c15a-4965-a3dc-397bf405e7cc/resource/274b819c-5d69-4539-a4db-f2950794138c/download/vac_status_hosp_icu.csv'
filename = 'data/vac_status_hosp_icu.csv'
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
response = requests.get(url, headers=headers)

In [8]:
# write data to file
with open(filename, mode="wb") as file:
    file.write(response.content)

In [13]:
# load the data as pandas dataframe
all_cases = pd.read_csv(filename)
all_cases.head()

,date,icu_unvac,icu_partial_vac,icu_full_vac,hospitalnonicu_unvac,hospitalnonicu_partial_vac,hospitalnonicu_full_vac
0,2021-08-10,22,3,0,23,4,11
1,2021-08-11,37,5,2,34,7,8
2,2021-08-12,45,5,2,44,7,9
3,2021-08-13,52,5,3,65,6,8
4,2021-08-14,53,4,1,67,6,11

## Data Cleaning